.catalog {
  padding: 48px 0 52px;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .wrap {
    flex-direction: row;
    gap: 64px;
    align-items: unset;
  }
}

/* @media screen and (min-width: 768px) {}
@media screen and (min-width: 1440px) {} */
