.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car {
  animation: shake 1s ease;
}

@keyframes shake {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0.8);
  }
}
