.btn {
  cursor: pointer;
}
.btn input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.span {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  width: 110px;
  height: 96px;
}
.btn input[type="checkbox"]:checked + span {
  border: 1px solid var(--button);
}

.checkbox-btn input[type="checkbox"]:disabled + span {
  background: var(--badges);
  color: var(--gray);
  border: 1px solid var(--gray);
  cursor: default;
}

.btn input[type="radio"] {
  display: none;
}
.btn input[type="radio"]:checked + .span {
  border: 1px solid var(--button);
}

.btn input[type="radio"]:checked + .span {
  border: 1px solid var(--button);
}
