.location_wrap {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_container {
  display: flex;
  align-items: center;
  position: relative;
}
.label {
  color: var(--gray);
}
.location_wrap input {
  width: 288px;
  padding: 18px 18px 18px 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: var(--inputs);
  color: var(--main);
}

svg.location {
  position: absolute;
  left: 20px;
  top: 50px;
  pointer-events: none;
}

.error_message {
}
