.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}
.line {
  stroke-width: 1px;
  stroke: var(--gray-light);
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .wrap {
    width: unset;
  }
}
