.wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: var(--badges);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
}
.info p {
  font-weight: 500;
  color: var(--main);
  margin-bottom: 4px;
}
.stars_list {
  display: flex;
  gap: 4px;
  height: 16px;
}
.description {
  color: var(--text);
}
