.gallery {
  display: flex;
  gap: 48px;
  max-width: 1312px;
  margin-bottom: 28px;
}

.gallery li {
  width: 292px;
  height: 312px;
  overflow: hidden;
  border: 1px solid var(--gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.lightbox_img {
  position: absolute;
  height: 80vh;
  max-width: 90vw;
  object-fit: cover;
  border-radius: 10px;
}

.lightbox {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  overflow: hidden;
}

.gallery_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--button);
  color: var(--white);
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease-out;
}

.gallery_btn:hover,
.gallery_btn:focus {
  background-color: var(--button-hover);
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}
.gallery_btn:focus {
  outline: none;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
