.wrap {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px 57px;
  width: 525px;
  height: 500px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 8px;
}
.text {
  color: var(--gray);
  margin-bottom: 24px;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  width: 100%;
  max-width: 491px;
  border-radius: 12px;
  padding: 18px;
  height: 24px;
  background: var(--inputs);
  border: none;
  color: var(--gray);
  margin-bottom: 14px;
}
.textarea {
  height: 82px;
  margin-bottom: 24px;
}

.error {
  font-size: 10px;
  color: red;
}
