.features_wrap {
  padding: 44px 10px;
  border-radius: 10px;
  width: 300px;
  height: auto;
  background: var(--inputs);
}

@media screen and (min-width: 768px) {
  .features_wrap {
    width: 680px;
    height: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .features_wrap {
    padding: 44px 52px;
    width: 527px;
    height: 500px;
  }
}
