.features_list {
  display: flex;
  flex-wrap: wrap;
  width: 524px;
  gap: 8px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.features {
  border-radius: 100px;
  padding: 12px 18px;
  height: 24px;
  background: var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
