.add_info_list {
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 24px;
}
.line {
  stroke-width: 1px;
  stroke: var(--gray-light);
}
.link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  transition: color 0.3s ease-out;
}

.link:hover {
  color: var(--button);
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--button);
  top: 46px;
}
.features {
  display: flex;
  gap: 40px;
  padding: 44px 0 80px;
}
